MAESTRO_APP_ID=com.saucelabs.mydemoapp.android
MAESTRO_TEST_USER=bod@example.com
MAESTRO_TEST_PASSWORD=10203040
MAESTRO_LOCKED_USER=alice@example.com
APP_URL=https://github.com/saucelabs/my-demo-app-android/releases/download/2.3.0/mda-2.3.0-27.apk
